<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title> Quizzer </title>
    </head>
    <body>
        <div class="container">
            <div>
                    <img src="Quizzer2.png" id="logo">
                </div>
            <div id="wrapper" class="center">
                <div id="create_quiz" class="col-md-6">
                    <a href="create_options"><button type="button" class="btn btn-primary btn-lg btn-block">Create a quiz</button></a>
                </div>
                <div id="take_quiz" class="col-md-6">
                    <a href="select_quiz"><button type="button" class="btn btn-primary btn-lg btn-block">Take a quiz</button></a>
                </div>
            </div>
        </div>    
    </body>
</html>     