<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--        <link rel="stylesheet" href="main.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title> Quizzer </title>
    </head>
    <body>
        <div class="container">
            <form id="login" action="login" method="POST">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="sr-only" for="Username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"placeholder="password" required>
                    </div>
                </div>    
                    <div id="submit">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </form>
            <div class="row">
                <a href=signup>Don't have an account? Sign up?</a>
            </div>
        </div>    
    </body>
</html>